body{
    background-color:#2e2e2e ;
}
#login{
    margin-top: 110px;
    margin-bottom: auto;
    background-color: #4b4bff;
    height: 500px;
    width: auto;
    border-radius: 10px;
}
div.col-md-8{
    background-color: rgb(255, 255, 255);
    border-color: #252525;
    border-style: solid;
    border-radius: 5px;
}
#login-title{
    color: white;
}
#register{
    margin-top: 110px;
    margin-bottom: auto;
    background-color: #4b4bff;
    height: 700px;
    width: auto;
    border-radius: 10px;
}
div.col-md-4{
    background-color: rgb(255, 255, 255);
    border-color: #252525;
    border-style: solid;
    border-radius: 5px;
}
div.col-md-10{
    background-color: rgb(255, 255, 255);
    border-color: #252525;
    border-style: solid;
    border-radius: 5px;
}
#register-title{
    color: white;
}