body{
    background-color:#2e2e2e ;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
#login{
    margin-top: 110px;
    margin-bottom: auto;
    background-color: #4b4bff;
    height: auto;
    width: auto;
    border-radius: 10px;
}
#login-title{
    color: white;
}
#register{
    margin-top: 110px;
    margin-bottom: auto;
    background-color: #4b4bff;
    height: auto;
    width: auto;
    border-radius: 10px;
}
.input-col{
    background-color: rgb(255, 255, 255);
    border-color: #252525;
    border-style: solid;
    border-radius: 5px;
}
#register-title{
    color: white;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #1f1f1f;
}
::-webkit-scrollbar-thumb {
    background: #0e4bce;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
    margin-top: -1300px;
}


#enlace-dades, #enlace-historial, #enlace-reserves, #enlace-usuarios {
    margin-bottom: 100px; /* Ajusta el valor según la separación deseada */
  }
  #contenido-dades, #contenido-historial, #contenido-reserves, #contenido-usuarios {
    display: none; /* Ocultar todos los elementos al principio */
}
#historial{
    margin-bottom: 100px;
}
#map{
    height: 400px;
    width: 100%;
}